{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat harum placeat ipsum porro sunt modi. Harum, non! Saepe qui ipsa nihil
    temporibus rem sit error totam delectus incidunt? Repudiandae optio nisi facilis error ab accusantium? Nesciunt nisi corporis similique
    eius voluptatibus labore molestias nulla totam placeat, voluptatem perspiciatis fugit, deleniti delectus inventore voluptatum veritatis,
    iusto at qui cum commodi dignissimos! Dignissimos labore porro doloremque, aliquid aperiam nulla quo modi dicta ratione animi magni
    dolorum ipsam magnam ullam ut et voluptatibus neque nemo dolor. Nemo quasi rerum nam pariatur ad, corrupti quaerat molestiae facilis
    obcaecati consequuntur, eum quae accusantium, minus reprehenderit.
  </p>
</div>
{% endblock content %}
